{% extends "base.html" %}

{% block title %}
<title>Prague Metro System</title>
{% endblock %}

{% block content %}
<div class="container" style="border: 1px solid orange;">
    <p>Here will be the photo set: an enblem is in a round place; upper it - the beautiful panorama's photo</p>
</div>
<div class="container">
    <div>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Much longer nav link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
            </li>
        </ul>
    </div>
    <div>
        <p>Here will be the main content with photos and videos</p>
    </div>
</div>
{% endblock %}
