{% extends "base.html" %}

{% block title %}
<title>Projects</title>
<style>
    .blocks {
        margin-top: 50px;
        margin-bottom: 50px;
        border: 1px solid orange;
        color: orange;
    }

    h1 {
        font-color: white;
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
<div class="blocks">
    <h1>
        Here will be news about RSI Project and others: development, bugs, fixes and interesting views about
        HTML/CSS/JS/Python Django programming.
    </h1>
</div>
{% endblock %}
