{% extends "base.html" %}

{% block title %}
{% load static %}
<title>Searching data</title>
<script src="{% static 'js/not_opened.js'%}"></script>
{% endblock %}

{% block content %}
<section>
    <div class="container mt-5">
        <div class="row">
            {% for short in shorts %}
            <div class="col">
                <div class="card" style="width: 18rem; margin-bottom: 15px;">
                    <img src="{{ short.emblem.url }}" class="card-img-top" alt="{{ short.ofiName }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ short.ofiName }}</h5>
                        <p class="card-text">{{ short.shortI }}</p>
                        {% if short.opened %}
                            <a href="{% url 'metro' %}" class="btn btn-primary">More</a> <!--!!!!!-->
                        {% else %}
<!--                            <a href="..." class="btn btn-primary" onclick="notOpened()">More</a>-->
                            <button class="btn btn-primary" onclick="notOpened()">More</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
